doctype html
html
	head
		<meta charset="utf-8">
		<title>cashflow</title>
		base( target="_blank" )
		link(rel="stylesheet" href="/style.css")

	body
		h1 cashflow
		#app
		.faq
			<h2>Will this work with my bank?</h2>
			<p>
				Right now, cashflow only works with exported JSON data from <a href="https://www.simple.com/">Simple</a>.
			</p>
			<p>
				Want to see cashflow work with your bank? <a href="https://github.com/kenhoff/cashflow/issues">Let us know!</a>
			</p>
			<h2>Is this safe?</h2>
			<p>
				Yes.
			</p>
			<p>
				No information is stored or transmitted anywhere other than this page. As soon as you close the browser or refresh the page, all the data that you put into the page is deleted.
			</p>
			<p>
				Want to verify yourself? <a href="https://github.com/kenhoff/cashflow">You can check out all the code for this project on GitHub.</a>
			</p>

		script(src="app.js" charset="utf-8")
