doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title cashflow
		base(target="_blank")
		link(href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet")
		link(rel="stylesheet" href="style.css")

	body
		h1 cashflow
		#app
		.faq
			h2 Will this work with my bank?
			p Right now, #[strong cashflow] only works with exported JSON data from #[a(href="https://www.simple.com/") Simple].
			p Want to see #[strong cashflow] work with your bank? #[a(href="https://github.com/kenhoff/cashflow/issues") Let us know!]
			h2 Is this safe?
			p Yes.
			p No information is stored or transmitted anywhere other than this page. As soon as you close the browser or refresh the page, all the data that you put into the page is deleted.
			p Want to verify? #[a(href="https://github.com/kenhoff/cashflow") You can check out all the code for this project on GitHub].
		footer code by hofftech



		script(src="app.js" charset="utf-8")
