// react-file-reader-input is a div by default, which means that links don't work too well.
._react-file-reader-input {
    display: inline;
}
$background = #042037
$backgroundTransparent = rgba(4,35,58,0.5)
$links = #496D89
$lightGray = #728FA6
$border = 1px solid lightGray
$dashed-border = 1px dashed lightGray


* {
    box-sizing: border-box;
}

body {
    background-color: $background
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    > * {
        max-width: 100%;
    }
}

h1 {
    text-align: center;
    margin: 1em;
}

#app {
    margin: 1em;
}

.uploadLink, a, a:visited {
    color $lightGray
    text-decoration: underline;
    cursor: pointer;
}

.filePicker {
    padding: 3em;
    text-align: center;
    border: $dashed-border
}

.results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .results {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        > * {
            padding: 2em;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    }
}


.amount {
    font-size: 3em;
    margin: 0
    white-space: nowrap;
    overflow-x: visible;
}

.positiveResult > .amount {
    color: green;
}

.negativeResult > .amount {
    color: red;
}

.faq
    margin: auto;
    padding: 1em;
    max-width: 27em;

footer
    & > a.hofftech-link
        text-decoration: none;
        color: white;
    margin: auto;
    font-family: 'EB Garamond', serif;
    .logo
        font-family: 'Montserrat', sans-serif;
